<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Article Management MVP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F80775D91E0197CA00EF0250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F80775ED1E0197CA00EF0250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F80775F81E0197CA00EF0250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
